/* src/components/AddContractor/AddContractor.css */
.add-contractor-container {
    padding: 24px;
}

.contractor-form {
    max-width: 100%;
    margin-top: 24px;
}


.contractor-form .ant-form-item-label {
    font-weight: var(--font-weight-medium);
}

.contractor-form .ant-btn {
    margin-top: 16px;
}